<!DOCTYPE html>
<html lang="{{ current_locale|default('fr') }}">
{% set path_parts = app.request.pathinfo|split('/') %}
{% set current_locale = path_parts[1]|default('/') %}
{% set pure_path = '/' ~ path_parts[2:]|join('/') %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}E-Portfolio Camille MONDON{% endblock %}</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/united/bootstrap.min.css">
    <link rel="stylesheet" href="/css/theme.css?v=1.1">
    {% block stylesheets %}{% endblock %}
</head>
{% set path_parts = app.request.pathinfo|split('/') %}
{% set current_locale = path_parts[1]|default('/') %}
{% set pure_path = '/' ~ path_parts[2:]|join('/') %}

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/{{ current_locale }}">
            {% if current_locale == 'fr' %}Accueil{% else %}Home{% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarColor01" aria-controls="navbarColor01"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/{{ current_locale }}/portfolio">
                        {% if current_locale == 'fr' %}Portfolio{% else %}Portfolio{% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/{{ current_locale }}/cv">
                        {% if current_locale == 'fr' %}Mon CV{% else %}My Resume{% endif %}
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                        {% if current_locale == 'fr' %}Langues{% else %}Languages{% endif %}
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/fr{{ pure_path }}">&#127467;&#127479; Français</a>
                        <a class="dropdown-item" href="/en{{ pure_path }}">&#127468;&#127463; English</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mailto:camille.mondon42@gmail.com">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                        {% if current_locale == 'fr' %}Thème{% else %}Theme{% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item theme-switch" data-theme="light"> ☀️ {% if current_locale == 'fr' %}Mode clair{% else %}Light mode{% endif %}
                        </a>
                        <a class="dropdown-item theme-switch" data-theme="dark"> 🌙 {% if current_locale == 'fr' %}Mode sombre{% else %}Dark mode{% endif %}
                        </a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    {% block body %}{% endblock %}
</div>


<script>
    const body = document.body;
    if (localStorage.getItem('theme') === 'dark') {
        body.classList.add('dark-mode');
    }
    document.querySelectorAll('.theme-switch').forEach(item => {
        item.addEventListener('click', function () {
            const theme = this.getAttribute('data-theme');

            if (theme === 'dark') {
                body.classList.add('dark-mode');
                localStorage.setItem('theme', 'dark');
            } else {
                body.classList.remove('dark-mode');
                localStorage.setItem('theme', 'light');
            }
        });
    });
</script>
</body>
<footer>
    <div id="bottomBanner" class="navbar navbar-expand-lg bg-primary text-white fixed-bottom mt-4">
        <div class="container-fluid justify-content-center">
            <span>
                {% if current_locale == 'fr' %}
                    © 2025 | Droits d'auteur | Camille MONDON | Tous droits réservés
                {% else %}
                    © 2025 | Copyright | Camille MONDON | All rights reserved
                {% endif %}
            </span>
        </div>
    </div>
</footer>
</html>
